<hr>
<%= link_to " Challenges", project_challenges_path(@challenge.project_id), class: 'btn btn-primary fa fa-arrow-left' %>
<h1>Quizzes</h1>
<hr>
<% if @quizzes.count > 0 %>
  <table class="table table-responsive">
    <thead class="table-primary">
      <tr>
        <th>Quiz Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @quizzes.each do |quiz| %>
        <tr>
          <td><%= quiz.name %></td>
          <td>
            <%= link_to 'Show', quiz %>
            <%= link_to 'Edit', edit_quiz_path(quiz) %>
            <%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <h3>There is no quiz created yet.</h3>
    <h5>Create one!</h5>
  <% end %>

<br>

<%= link_to 'New Quiz', new_challenge_quiz_path, class: 'btn btn-outline-success' %>
