<%= link_to "", project_challenges_path(@challenge.project_id), class: 'btn fa fa-arrow-left' %>
<h1 class="model-header">Quizzes</h1>
<% if @quizzes.count > 0 %>
  <table class="table table-responsive">
    <thead class="table-info">
      <tr>
        <th>Quiz Name</th>
        <th>Actions</th>
        <th>Start Quiz</th>
      </tr>
    </thead>

    <tbody>
      <% @quizzes.each do |quiz| %>
        <tr>
          <td><%= quiz.name %></td>
          <td>
            <% if current_user.admin? %>
              <%= link_to '', quiz, class: 'fa fa-eye fa-lg btn' %>
              <%= link_to '', edit_quiz_path(quiz), class: 'fa fa-edit fa-lg btn' %>
              <%= link_to '', quiz, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-remove fa-lg btn' %>
            <% end %>
          </td>
          <td><%= link_to image_tag("start.png", class: 'play-icon'), new_quiz_quiz_attempt_path(quiz.id)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <h3>There is no quiz created yet.</h3>
    <h5>Create one!</h5>
  <% end %>

<br>

<%= link_to 'New Quiz', new_challenge_quiz_path, class: 'btn btn-outline-success' %>
