<%= link_to '', challenge_quizzes_path(@quiz.challenge_id), class: 'fa fa-arrow-left fa-lg' %>
<hr>
<h2>Quiz</h2>

<div class="row">
  <div class="col-md-6 offset-md-2 question-card">
    <h4>
      <strong>Quiz Title:</strong>
      <%=h @quiz.name %>
      <%= link_to '', edit_quiz_path(@quiz), class: 'fa fa-edit pull-right' %>
    </h4>
    <hr class="dotted">
    <ol>
    <% @quiz.questions.each do |question| %>
      <li>
        <%= question.statement %>
        <ul>
        <% question.answers.each do |answer| %>
          <li><%=h answer.content %></li>
        <% end %>
        </ul>
      </li>
    <% end %>
    </ol>
  </div>
</div>
