<div class="row">
  <div class="col-md-8 offset-md-1 users-show-table">
    <hr class="dotted">
    <h2>
      Employees

    </h2>
    <hr class="dotted">
    <table class="table table-responsive table-hover">
      <thead class="table-info">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Points Gained</th>
          <th>Progress</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><strong><%= user.name %></strong></td>
            <td><%= user.email %></td>
            <% if user.role == 'admin' %>
              <td style="color:green;"> <b><%= user.role %></b> </td>
            <% else %>
              <td><%= user.role %></td>
            <% end %>
            <td><%= user.points %></td>
            <td><%= link_to image_tag("graph.png", style: 'width: 30px;'), users_graphs_path(user_id: user.id), method: :get %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
