<%= link_to '', companies_path, class: 'fa fa-lg fa-arrow-left btn' %>
<h1 class="model-header">Departments</h1>

<table class="table table-responsive table-hover ">
  <thead class= "table-info">
      <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Projects</th>
      <% if current_user.admin? %><th>Actions</th><% end %>
    </tr>

  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><strong><%= link_to department.name, department %></strong></td>
        <td><%= department.description %></td>
        <td><%= link_to image_tag("next.png", class: 'next-icon'), department_projects_path(department) %></td>
        <% if current_user.admin? %>
          <td>
            <%= link_to '', department, class: 'fa fa-eye fa-lg btn' %>
            <%= link_to '', edit_department_path(department), class: 'fa fa-edit fa-lg btn' %>
            <%= link_to '', department, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-remove fa-lg btn' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Department', new_company_department_path , class: "fa fa-plus-circle btn btn-outline-primary my-2 my-sm-0 btn-lg btn btn-info" if current_user.admin? %>
