<%= link_to '', company_departments_path(@department.company_id), class: 'fa fa-lg fa-arrow-left btn' %>
<div class="card col-md-7 offset-md-2">
  <div class="card-header">
    <b><%= @department.name %></b>
    <%= link_to '', edit_department_path(@department), class: 'fa fa-edit fa-lg btn pull-right'if current_user.admin? %>
  </div>
  <div class="card-block">
    <h5>Description:</h5>
    <p class="card-text"><%= sanitize @department.description %></p>

  </div>
</div>
<br>
<%= link_to "Projects", department_projects_path(@department), class: 'btn btn-lg offset-md-5 btn-outline-primary' %>
<i class="fa fa-chevron-right fa-lg"></i>
