<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table class="table table-responsive table-hover">
  <thead class= "table-info">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Start_Date</th>
      <th>End_Date</th>
      <th>Last_Updated_At</th> 
    </tr>
    
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        <td><%= project.category %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.updated_at %></td> 
        <td>
          <%= link_to '', project, class: 'fa fa-eye fa-lg btn' %>
          <%= link_to '', edit_project_path(project), class: 'fa fa-edit fa-lg btn' %>
          <%= link_to '', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-remove fa-lg btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' Create New project', new_project_path, class: "fa fa-plus-circle btn btn-outline-primary my-2 my-sm-0 btn-lg btn btn-info" %>
