<%= link_to '', department_path(@department), class: 'fa fa-lg fa-arrow-left btn' %>
<h1 class="model-header">Projects</h1>
<table class="table table-responsive table-hover">
  <thead class= "table-info">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Last Updated At</th>
      <th>Challenges</th>
      <% if current_user.admin? %> <th>Actions</th> <% end %>
    </tr>

  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><strong><%= link_to project.name, project %></strong></td>
        <td><%= project.category %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.updated_at.strftime("%m/%d/%Y") %></td>
        <td><%= link_to image_tag('next.png', class: 'next-icon'), project_challenges_path(project) %></td>
        <% if current_user.admin?  %>
          <td>
            <%= link_to '', project, class: 'fa fa-eye fa-lg btn' %>
            <%= link_to '', edit_project_path(project), class: 'fa fa-edit fa-lg btn' %>
            <%= link_to '', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-remove fa-lg btn' %>
          </td>
        <% end  %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' Create New project', new_department_project_path, class: "fa fa-plus-circle btn btn-outline-primary my-2 my-sm-0 btn-lg btn btn-info" if current_user.admin? %>
