<%= link_to '', department_path(@department), class: 'fa fa-lg fa-arrow-left btn' %>
<h1 class="model-header">Projects</h1>
<table class="table table-responsive table-hover">
  <thead class= "table-info">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Last Updated At</th>
      <th>Actions</th>
      <th>Invite</th>
    </tr>

  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        <td><%= project.category %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.updated_at %></td>
        <td>
          <%= link_to '', project, class: 'fa fa-eye fa-lg btn' %>
          <%= link_to '', edit_project_path(project), class: 'fa fa-edit fa-lg btn' %>
          <%= link_to '', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-remove fa-lg btn' %>
        </td>
          <td>
            <%= link_to '', new_user_invitation_path, class: 'fa fa-user-plus fa-lg' %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' Create New project', new_department_project_path, class: "fa fa-plus-circle btn btn-outline-primary my-2 my-sm-0 btn-lg btn btn-info" %>
