<div class = "container-fluid">

<h1 class="model-header">Companies</h1><br>

<table class="table table-responsive table-hover">
  <thead class="table-info">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>CEO</th>
      <th>Email</th>
      <th>Contact No</th>
      <th>Actions</th>
      <th>Invite Users</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.name %></td>
        <td><%= company.location %></td>
        <td><%= company.ceo %></td>
        <td><%= company.email %></td>
        <td><%= company.contact_no %></td>
        <td>
          <%= link_to '', company, class: 'fa fa-eye fa-lg btn' %>
          <%= link_to '', edit_company_path(company), class: 'fa fa-edit fa-lg btn' %>
          <%= link_to '', company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-remove fa-lg btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' Create New Company', new_company_path, class: "fa fa-plus-circle btn btn-outline-primary my-2 my-sm-0 btn-lg" %>
</div>
