<%= link_to "", challenge_resources_path, class: 'btn fa fa-arrow-left' %>
<h1 class="model-header">Resouces Details</h1>
<br>


  <table class="table table-responsive">
    <thead class="table-info">
      <tr>
        <th>Resource </th>
        <th>Images </th>
        <th>Documents </th>
        <th>Videos </th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @resources.each do |res| %>
        <tr>
          <td><%= res.name  %></td>
          <td><%= res.images.count  %></td>
          <td><%= res.documents.count %></td>
          <td><%= res.links.count  %></td>
          <td>
            <%= link_to '', edit_resource_path(res), class: 'fa fa-plus fa-lg btn' %>

            <%= link_to '', res, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-remove fa-lg btn' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
 

<br><br>