<%= link_to '', challenge_path(@challenge), class: 'fa fa-lg fa-arrow-left btn' %>
<hr>
<h1>Available Resources</h1>


<% # if (@resource.image != null) %>
<h1> Images </h1>
<div class="container ">
	<div class="well well-lg">
     <% @resources.each do |resource| %>
     	<div class= "img-thumbnail resource_img">
			<%= image_tag resource.image.url %>
		</div>
 	<% end %>
 </div>
</div>
<% # end %>
<br><br>
<% # if @resource.document? %>
<h1> Documents </h1>
	<div class="container ">
		<div class="well well-lg">
			<% @resources.each do |resource| %>
			<div class=" resource_doc">
     			<%= link_to "My document", resource.document.url, target: "_blank", class: 'btn btn-lg offset-md-5 btn-outline-primary'%>
     		</div>
 			<% end %>
 		</div>
 	</div>
 <%# end %>
<br><br>
<% #if @resource.link? %>
<h1> Youtube Videos </h1>
	<div class="container ">
		<div class="well well-lg">
			<% @resources.each do |resource| %>
			<div class="resource_links">
     			<%= embed(resource.link) %>
     		</div>
			<% end %>
		</div>
	</div>
<% #end %>


<br>

<%= link_to 'Add Resources', new_challenge_resource_path , class: "fa fa-plus-circle btn btn-outline-primary my-2 my-sm-0 btn-lg btn btn-info link_button" %>
