<%= link_to '', project_challenges_path(@challenge.project_id), class: 'fa fa-lg fa-arrow-left btn' %>
<div class="challenge-box">
  <h1 class="challenge-header"><%= @challenge.name %><%= link_to '', edit_challenge_path(@challenge), class: 'fa fa-edit fa-lg btn pull-right' %></h1>
  <hr class="dotted">
  <div class="container">
    <div class="row">
      <div class="level col-md-4" style="text-align: left;">
        <%= image_tag("level.png", style: 'width:30px') %><h4><%= @challenge.level %></h4>
      </div>
      <div class="level col-md-4" style="text-align: center;">
        <%= image_tag("timer.png", style: 'width:30px') %><h4><%= @challenge.duration %></h4>
      </div>
      <div class="level col-md-4" style="text-align: right;">
        <%= image_tag("Coin.png", style: 'width:30px') %><h4><%= @challenge.points %></h4>
      </div>
      <hr class="dotted">
    </div>
    <div class="container">
      <h3>Description:</h3>
      <div>
        <%= sanitize @challenge.description %>
      </div>
    </div>
    <div class="resources-box">
      <%= render "shared/challenge_resources" %>
    </div>
  </div>
</div>
<br>
<%= button_to "Complete Challenge", challenge_complete_challenge_path(@challenge.id), class: 'fa fa-check btn btn-outline-success offset-md-5',method: :post %>
