<div class="row d-flex d-md-block flex-nowrap wrapper">
    <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
        <div class="list-group border-0 card text-center text-md-left">
        
            <%= link_to "Dashboard", dashboard_index_path, class: "list-group-item d-inline-block collapsed", 'data-parent' => '#sidebar' %>
            <%= link_to "My Companies", companies_path, class: "list-group-item d-inline-block collapsed", 'data-parent' => '#sidebar' %>
            <% if current_user.role == 'admin' %>
                <%= link_to "Employees Performance", users_path, class: "list-group-item d-inline-block collapsed", 'data-parent' => '#sidebar' %>
            <% elsif current_user.role == 'trainer' %>
                <%= link_to "Employees Performance", users_path, class: "list-group-item d-inline-block collapsed", 'data-parent' => '#sidebar' %>
                 <%= link_to "My Performance", user_graphs_path(user_id: current_user.id), class: "list-group-item d-inline-block collapsed", 'data-parent' => '#sidebar' %>
            <% else %>
                <%= link_to "My Performance", user_graphs_path(user_id: current_user.id), class: "list-group-item d-inline-block collapsed", 'data-parent' => '#sidebar' %>
            <% end %>
            
                <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="d-none d-md-inline"> My Chatrooms </span></a>

                <div class="collapse" id="menu3">
                    <% current_user.chatrooms.each do |chatroom| %>
                        <%= link_to chatroom.name, chatroom, class: "list-group-item", 'data-parent' => '#sidebar' %>
                    <% end %>
            
                </div>

                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="d-none d-md-inline">Item 4</span></a>

                

            
        </div>
    </div>
</div>
